h1 {
  text-align: center;
}

form {
  width: 250px;
  margin: 0 auto;
}

input,
div {
  width: 100%;
  margin-bottom: 10px;
}

div {
  display: flex;
  justify-content: space-around;
}

input {
  padding: 8px;
  box-sizing: border-box;
}
