* {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
}

body{  
 font-family: Aria;
}

.page{
 width:1000px;
 margin: 0 auto;
}

.haeder{
 background: #eee;
 padding: 20px;
}

.content{
 display: flex;         
}

.sidebar{
 width: 200px;
 background: #f4f4f4;
 padding: 15px;
 margin-right: 20px;
}

.sidebar ul {
 list-style: none;
}

.sidebar li {
 margin-bottom: 10px;
}

.sidebar a{
 color: #333;
 text-decoration: none;
}

.main {
 width: 800px;
 padding: 20px;
}

.footer{
 background: #eee;
 text-align: center;
 padding: 10px;
 margin-top: 20px;
}